{% extends "index.html" %}

{% block contentido %}

<h2> AUTORES </h2>
    <table style="border: 1px solid">
        <tr style="border: 1px solid">
            <td  style="border: 1px solid">Nombre</td>
            <td  style="border: 1px solid">Apellido</td>
            <td  style="border: 1px solid">Bibliografía</td>
        </tr>
        {% for autor in autores %}
        <tr  style="border: 1px solid">
            <td  style="border: 1px solid">
                {{ autor.nombre }}
            </td>
            <td  style="border: 1px solid">
                {{ autor.apellido }}
            </td>
            <td  style="border: 1px solid">
                {{ autor.bibliografia}}
            </td>
            <td>
                <a href="{% url 'editar_autor' autor.id %}">Editar</a>
            </td>
        </tr>
        {% endfor %}

    </table>

{% endblock %}