{% extends "index.html" %}

<!-- Seccion de autores -->
{% block contentido %}
    <h2> {{ titulo }}</h2>

<form method="POST">
    <!-- es para uqe no se cree un bot y que no haya un sistema se llanado auto de datos -->
    {% csrf_token %} 
    <label for="id_nombre" name="nombre">Nombre:</label>
    <input type="text" id="id_nombre" name="nombre" value="{{ autor.nombre | default_if_none:"" }}" required><br><br>

    <label for="id_apellido" name="apellido">Apellido:</label>
    <input type="text" id="id_apellido" name="apellido" value="{{ autor.apellido | default_if_none:"" }} required><br><br>

    <label for="id_bibliografia" name="bibliografia">Bibliografía:</label>
    <input type="text" id="id_apellido" name="apellido" value="{{ autor.bibliografia | default_if_none:"" }} required><br><br>

    <button type="submit" class="btn btn-primary">Crear Autor</button>
</form>
{% endblock %}